version: '3.8'

services:
  qbittorrent:
    container_name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent
    environment:
      WEBUI_PORT: 8080
    volumes:
      - ./downloads:/downloads
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - 8000:8000
    volumes:
      - ./downloads:/downloads
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
