<div class="downloads-tab__item selector {status}" data-id="{id}">
  <div class="downloads-tab__icon">{icon}</div>
  <div class="downloads-tab__main">
    <div class="downloads-tab__header">
      <div class="downloads-tab__title">{fileName}</div>
      <div class="downloads-tab__speed">{speed}</div>
    </div>
    <div class="downloads-tab__meta">
      <span class="downloads-tab__meta-size">{downloadedSize} / {totalSize}</span>
      <span class="downloads-tab__meta-eta">{eta}</span>
    </div>
    <div class="downloads-tab__progress-wrapper">
      <div class="downloads-tab__progress-fill" style="width: {percent};"></div>
    </div>
  </div>
</div>
